<div class="row">
  <div class="col-md-6">
    <p>This is simple data binding examples.</p>
  </div>
</div>
<div class="row">
    <h3>One way data binding examples</h3>
    <div class="col-2">
        Interpolation : {{firstname}}
    </div>
    <div class="col-2">
        Property Binding : <input type="text" [value]="firstname"/>
    </div>
    <div class="col-2">
        Event Binding : <input type="text" (input)="handleInput($event)"/>
    </div>
</div>
<div class="row">
    <h3>Two way data binding example</h3>
    <div class="col-2">
        <input type="text" [(ngModel)]="updatedname"/> : {{updatedname}}
    </div>
</div>
